<img src="icon?path=.gif" class="it-image">
<img src="icon?path=.cs" class="it-image">
<img src="icon?path=.cpp" class="it-image">
<img src="icon?path=.png" class="it-image">
<img src="icon?path=.exe" class="it-image">
<img src="icon?path=.html" class="it-image">
<img src="icon?path=.xxx" class="it-image">
<img src="icon?path=.css" class="it-image">
<img src="icon?path=.docx" class="it-image">
<img src="icon?path=.pdf" class="it-image">
<img src="icon?path=C:\windows\winhlp32.exe" class="it-image">